.container{
    width: 1000px;
    margin: 0 auto;
}
.container>header{
    background-image: url('images/student.jpg');
    background-size: cover;
    height: 0;
    padding-bottom: 25%;
    position: relative;
}
.company-info{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-variant: small-caps;
    color: white;
    text-shadow: 0 0 2px orangered;
}
.company-info>h1{
    padding: 0;
    margin: 0;
    font-family: Impact;
    font-size: 45px;
}
.company-info>strong{
    border-top: 1px dotted white;
    font-size: larger;
    letter-spacing: 3px;
}
.top-menu{
    width: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: orangered;
    line-height: 30px;
    border-bottom-left-radius: 30px;
    padding: 0 10px 0 30px;
    box-shadow: 0 0 20px white;
}
.top-menu>a{
    text-decoration: none;
    color: white;
    font-variant: small-caps;
}
.top-menu>a:hover{
    color: yellow;
}


.container>nav{
    background-color: orangered;
    line-height: 30px;
}
.container>article{
    background-color: green;
    float: left;
    width: 75%;
    min-height: 250px;
}
.container>aside{
    background-color: cyan;
    float: right;
    width: 25%;
    min-height: 250px;
}
.container>footer{
    background-color: orange;
    clear: both;
    height: 50px;
    border-top: 5px double orangered;
}